/* Reset some default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Navbar styles */
.navbar {
  position: sticky;
  top: 0;
  z-index: 100; /* To ensure it's above other content */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .5rem;
  height: 5rem;
  background-color: #333;
  color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.logo img {
  height: 100px;
  padding: 5px;
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin-left: 1rem;
}

.nav-links a {
  text-decoration: none;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #f39c12;
  cursor: pointer;
}
